.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/_drafts
source/.asset-cache
source/assets/bower
source/.jekyll-metadata
vendor
node_modules
Gemfile.lock
