.highlight .c /* comment, punctuation.definition.comment, string.comment */ {
  color: #6a737d;
}

.highlight .c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
.highlight .s .highlight .v /* string variable */ {
  color: #005cc5;
}

.highlight .e /* entity */,
.highlight .en /* entity.name */ {
  color: #6f42c1;
}

.highlight .smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.highlight .s .highlight .s1 /* string source */ {
  color: #24292e;
}

.highlight .ent /* entity.name.tag, markup.quote */ {
  color: #22863a;
}

.highlight .k /* keyword, storage, storage.type */ {
  color: #d73a49;
}

.highlight .s /* string */,
.highlight .pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.highlight .s .highlight .pse .highlight .s1 /* string punctuation.section.embedded source */,
.highlight .sr /* string.regexp */,
.highlight .sr .highlight .cce /* string.regexp constant.character.escape */,
.highlight .sr .highlight .sre /* string.regexp source.ruby.embedded */,
.highlight .sr .highlight .sra /* string.regexp string.regexp.arbitrary-repitition */ {
  color: #032f62;
}

.highlight .v /* variable */,
.highlight .smw /* sublimelinter.mark.warning */ {
  color: #e36209;
}

.highlight .bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
  color: #b31d28;
}

.highlight .ii /* invalid.illegal */ {
  color: #fafbfc;
  background-color: #b31d28;
}

.highlight .c2 /* carriage-return */ {
  color: #fafbfc;
  background-color: #d73a49;
}

.highlight .c2::before /* carriage-return */ {
  content: "^M";
}

.highlight .sr .highlight .cce /* string.regexp constant.character.escape */ {
  font-weight: bold;
  color: #22863a;
}

.highlight .ml /* markup.list */ {
  color: #735c0f;
}

.highlight .mh /* markup.heading */,
.highlight .mh .highlight .en /* markup.heading entity.name */,
.highlight .ms /* meta.separator */ {
  font-weight: bold;
  color: #005cc5;
}

.highlight .mi /* markup.italic */ {
  font-style: italic;
  color: #24292e;
}

.highlight .mb /* markup.bold */ {
  font-weight: bold;
  color: #24292e;
}

.highlight .md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
  color: #b31d28;
  background-color: #ffeef0;
}

.highlight .mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
  color: #22863a;
  background-color: #f0fff4;
}

.highlight .mc /* markup.changed, punctuation.definition.changed */ {
  color: #e36209;
  background-color: #ffebda;
}

.highlight .mi2 /* markup.ignored, markup.untracked */ {
  color: #f6f8fa;
  background-color: #005cc5;
}

.highlight .mdr /* meta.diff.range */ {
  font-weight: bold;
  color: #6f42c1;
}

.highlight .ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
  color: #586069;
}

.highlight .sg /* sublimelinter.gutter-mark */ {
  color: #959da5;
}

.highlight .corl /* constant.other.reference.link, string.other.link */ {
  text-decoration: underline;
  color: #032f62;
}