{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body class="blog">
	<div class="container">
		<div class="sidebar">
			<div class="intrude-less">
			<header id="header" class="inner">{% include header.html %}</header>				
			</div>
		</div>
		<div id="topbar" class="topbar">
			<div class="btn-bar"><i></i></div> 
			<h1><a href="/">{{ site.title }}</a></h1> 
			<a class="me" href="/about/"><img src="{{ site.avatarimg }}" alt="{{ site.title }}"></a>
		</div>
		<div id="sidebar-mask" style="display: none;"></div>
		<div class="main-col">
			{% unless page.banner == false %}
				{% include banner.html %}
			{% endunless %}
			<div class="main-col-container">
				<div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
			</div>
			<footer id="footer" class="inner">{% include footer.html %}</footer>
			{% include after_footer.html %}

			<link rel="stylesheet" type="text/css" href="{{ root_url }}/assets/prism/prism.css"/>
			<script src="{{ root_url }}/assets/prism/prism.js" type="text/javascript"></script>
			<script type="text/x-mathjax-config">
				MathJax.Hub.Config({ tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} });
			</script>
			<script type="text/javascript" src="http://cdn.bootcss.com/mathjax/2.4.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		</div>
	</div>
</body>
</html>
