<ul class="main">
	<li class=""><a href="{{ root_url }}/">主页  Blog</a></li>
    <li class=""><a href="{{ root_url }}/blog/archives">归档  Archives</a></li>
    <li class="inline"><a href="{{ root_url }}/blog/categories">分类  Categories</a></li>
    <li class="inline" ><a href="{{ root_url }}/blog/tags">标签  Tags</a></li>
    {%if site.slides%}
    <li><a href="{{ root_url }}/slides">演讲 talks</a></li>
    {%endif%}
    <li><a href="{{ root_url }}/about">关于  About</a></li>
</ul>
<ul class="main">
    <li><a href="{{ root_url }}/navs">前端网址导航  Navs</a></li>
    <li><a href="{{ root_url }}/tools">前端工具箱  Tools</a></li>
</ul>