.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .ge {
  color: #000000;
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #000000;
  font-weight: bold; }

.highlight .kd {
  color: #000000;
  font-weight: bold; }

.highlight .kn {
  color: #000000;
  font-weight: bold; }

.highlight .kp {
  color: #000000;
  font-weight: bold; }

.highlight .kr {
  color: #000000;
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .il {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .bp {
  color: #999999; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nl {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  color: #000000;
  font-weight: bold; }

.highlight .o {
  color: #000000;
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight {
  background-color: #f8f8f8; }

body {
  background: white !important; }

.slides-nav {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: -51px;
  opacity: 0; }

.slides-nav.navbar-inverse {
  background: #3D4349; }

.slides-nav.show {
  top: 0;
  opacity: 1; }

.reveal-viewport {
  width: 100%;
  height: 100%; }

.decks {
  overflow: auto !important;
  height: auto !important; }

.decks footer {
  font-family: 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif; }

/*.decks #container {
    background: #eee !important
}*/
.decks .marquee {
  position: relative;
  z-index: 1;
  background: #ddd;
  border-bottom: 1px solid #fff; }

.decks .marquee .reveal-frame {
  position: relative;
  z-index: 2;
  height: 860px;
  width: 100%;
  overflow: hidden;
  height: 320px; }

.decks .marquee .reveal-frame .progress,
.decks .marquee .reveal-frame .controls,
.decks .marquee .reveal-frame .playback {
  position: absolute; }

@media screen and (min-height: 380px) {
  .decks .marquee .reveal-frame {
    height: 320px; } }
@media screen and (min-height: 424px) {
  .decks .marquee .reveal-frame {
    height: 364px; } }
@media screen and (min-height: 468px) {
  .decks .marquee .reveal-frame {
    height: 408px; } }
@media screen and (min-height: 512px) {
  .decks .marquee .reveal-frame {
    height: 452px; } }
@media screen and (min-height: 556px) {
  .decks .marquee .reveal-frame {
    height: 496px; } }
@media screen and (min-height: 600px) {
  .decks .marquee .reveal-frame {
    height: 540px; } }
@media screen and (min-height: 644px) {
  .decks .marquee .reveal-frame {
    height: 584px; } }
@media screen and (min-height: 688px) {
  .decks .marquee .reveal-frame {
    height: 628px; } }
@media screen and (min-height: 732px) {
  .decks .marquee .reveal-frame {
    height: 672px; } }
@media screen and (min-height: 776px) {
  .decks .marquee .reveal-frame {
    height: 716px; } }
@media screen and (min-height: 820px) {
  .decks .marquee .reveal-frame {
    height: 760px; } }
@media screen and (min-height: 864px) {
  .decks .marquee .reveal-frame {
    height: 804px; } }
@media screen and (min-height: 908px) {
  .decks .marquee .reveal-frame {
    height: 848px; } }
@media screen and (min-height: 952px) {
  .decks .marquee .reveal-frame {
    height: 892px; } }
@media screen and (min-height: 996px) {
  .decks .marquee .reveal-frame {
    height: 936px; } }
@media screen and (min-height: 1040px) {
  .decks .marquee .reveal-frame {
    height: 980px; } }
@media screen and (min-height: 1084px) {
  .decks .marquee .reveal-frame {
    height: 1024px; } }
@media screen and (min-height: 1128px) {
  .decks .marquee .reveal-frame {
    height: 1068px; } }
@media screen and (min-height: 1172px) {
  .decks .marquee .reveal-frame {
    height: 1112px; } }
@media screen and (min-height: 1216px) {
  .decks .marquee .reveal-frame {
    height: 1156px; } }
@media screen and (min-height: 1260px) {
  .decks .marquee .reveal-frame {
    height: 1200px; } }
.decks .column header .deck-options {
  float: right;
  z-index: 3; }

.decks .column header .deck-options a {
  display: inline-block;
  padding: 8px;
  margin-right: 5px;
  font-size: 18px;
  color: #111;
  background: transparent;
  border: 1px solid transparent;
  line-height: 1;
  -webkit-tap-highlight-color: transparent; }

.decks .column header .deck-options a:hover {
  border-color: #555; }

/* only show the core content */
div.slides > *:not(.slide):not(.stack) {
  /* children of slides that are  not */
  display: none;
  height: 0; }

section.slide > *:not(.content) {
  /* children of a slide that is not content */
  display: none;
  height: 0; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin-bottom: 50px; }

.reveal p {
  margin-bottom: 30px;
  margin-top: 30px; }

.reveal section img {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.highlight table {
  width: 100%; }

.highlight .gutter {
  width: 40px;
  text-align: right; }

.reveal pre {
  width: 100%; }
