$open-sans-path: "/assets/fonts/opensans/OpenSans";
@function ga-font-path($path) {
     @return font-url($path, true);
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(ga-font-path('#{$open-sans-path}.woff')) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(ga-font-path('#{$open-sans-path}-Bold.woff')) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(ga-font-path('#{$open-sans-path}-Italic.woff')) format('woff');
}
