
.toollist {
	@extend .list-inline !optional;
	@extend .clearfix !optional;
	// margin-left: 0px!important;
	font-size: 24px;
	li {
		float: left;
		width: 330px;
		// border: 1px dashed #f5f5f5;
		padding: 5px 10px;

		// text-align: center;
		a{
			color: #666;
			.fa{
				margin-right: 5px;
			}
			// display: block;
			&:hover{
				text-decoration: none;
			}
		}

		.fa-dedent{
			color: #009966;
		}
		.fa-header{
			color:#CC0066;
		}
		.fa-font{
			color: #FF9900;
		}
		.fa-globe{
			color: #3399CC;
		}
		.fa-css3{
			color: #1572B6;
		}
		.fa-sitemap{
			color: #CC3399;
		}
		.fa-umbrella{
			color: #CC9999;
		}
		.fa-anchor{
			color: #FF6600;
		}
		.fa-exchange{
			color: #CCCC33;
		}
		.fa-code{
			color: #3399CC;
		}
		.fa-file-code-o{
			color: #666699;
		}
		.fa-paragraph{
			color: #CC9999;
		}
	}
	
}

.f2enav{
	.post{
		 margin-right: 30px;
	}
}